
.grid   {
	font-family: sans-serif;
	font-size:12;


	 width: 95%;
	 border: 1px solid #cccccc;

   margin-right:auto;
	 margin-left:auto;
	 padding: 5px;
	 border-spacing: 3px;

   }

	 .grid caption {
	 	background: #0c4e84;
	 	color: white;
	  font-size: 18pt	;
		vertical-align: bottom;;

	 }

.grid thead tr {
	background: #3498db;
	color: white;
	height: 50px;

}

.grid tbody tr:nth-of-type(odd) {
	background: #cccccc	;
	border: 1px 1px 1px 1px solid #ccc;
}

.grid tbody tr  {
	background: #EDE0B8	;
	border: 1px 1px 1px 1px solid #ccc;
}

.parecertecnico {
		width: 300px;
		height: 90px;
}

.grid .funcoes a {

	display: inline-block;
	background-color: #fff;
	color: #444;
	padding: 10px 20px;
	text-decoration: none;
	box-sizing: border-box;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	border: 0px;
	border-radius: 4px;
	box-shadow: 1px 1px 1px #999;
	background-image: linear-gradient(to bottom, transparent, rgba(0,128,0,.4));

}
.grid .funcoes a:hover {
 background-image: linear-gradient(to bottom, transparent, rgba(107,142,35,.9));
 cursor: pointer;
}
